<footer class="footer-section">
  <div class="container">
    <div class="footer-logo-block">
      <a href="/index.html" class="footer-logo-link">
        <svg class="footer-logo" width="210" height="69">
          <use
            href="/cosmozoo_project/assets/symbol-defs-DSj03hhM.svg#icon-logo-cosmozoo"
          ></use>
        </svg>
      </a>
    </div>

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="/index.html" class="footer-nav-link">Home</a>
        </li>
        <li class="footer-nav-item">
          <a href="/src/docs/aboutus.html" class="footer-nav-link">About Us</a>
        </li>
        <li class="footer-nav-item">
          <a href="/src/docs/services.html" class="footer-nav-link">Services</a>
        </li>
        <li class="footer-nav-item">
          <a href="/src/docs/portfolio.html" class="footer-nav-link"
            >Portfolios</a
          >
        </li>
        <li class="footer-nav-item">
          <a href="/src/docs/contact.html" class="footer-nav-link"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
    <ul class="footer-list-media">
      <li class="footer-item-media">
        <a href="" target="_blank">
          <svg class="footer-icon" width="24" height="24">
            <use
              href="/cosmozoo_project/assets/symbol-defs-DSj03hhM.svg#icon-instagram-1"
            ></use></svg
        ></a>
      </li>
      <li class="footer-item-media">
        <a href="" target="_blank">
          <svg class="footer-icon" width="24" height="24">
            <use
              href="/cosmozoo_project/assets/symbol-defs-DSj03hhM.svg#icon-facebook-1"
            ></use></svg
        ></a>
      </li>
    </ul>
    <address class="footer-addres">
      <ul class="footer-addres-list">
        <li class="footer-addres-item">
          <a href="" class="footer-addres-link" target="_blank"
            >Los Angeles, California</a
          >
        </li>
        <li class="footer-addres-item">
          <a href="tel:+19162980084" class="footer-addres-link" target="_blank"
            >+1 (916) 298-0084</a
          >
        </li>
        <li class="footer-addres-item">
          <a
            href="mailto:cosmozoo@gmail.com"
            class="footer-addres-link"
            target="_blank"
            >cosmozoo@gmail.com</a
          >
        </li>
      </ul>
    </address>

    <div class="footer-privacy">
      <p class="footer-privacy-text">
        © Copyright 2025 Cosmozoo. All Rights Reserved
      </p>
      <ul class="footer-privacy-list">
        <li class="footer-privacy-item">
          <a href="" class="footer-privacy-link" target="_blank"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-privacy-item">
          <a href="" class="footer-privacy-link" target="_blank"
            >Terms & Conditions</a
          >
        </li>
        <li class="footer-privacy-item">
          <a href="" class="footer-privacy-link" target="_blank">Support</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
